@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #191919;
  --color-brand: #0a66c2;
  --color-brand-hover: #004182;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark, .dark * {
  --color-background: #121212;
  --color-foreground: #e5e5e5;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}